:root {
    /* Animation config */
    --rocket-animation: 5s;
    --rocket-animation-delay: 0s;

    --ground-animation: 2s;
    --ground-animation-delay: 0s;

    --sky-animation: 10s;
    --sky-animation-delay: 0s;

    --smoke-animation: 1.25s;

    --planet-animation: 3s;
    --planet-animation-delay: 10s;

    --falling-animation: 6s;
    --falling-animation-delay: 10s;

    --clouds-downwards-animation: 10s;
    --clouds-downwards-animation-delay: 2s;

    --clouds-sideways-animation: 11s;
    --clouds-sideways-animation-delay: 3.5s;

    --animation-state: paused;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(153,244,255,1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;

    /* header > div */
    & > div {
        position: relative;
        height: 300px;
        width: 300px;
        background-color: bisque;
        border-radius: 100%;
        transform: translateY(-100%);
    }

    /* header > div:before */
    & > div:before {
        content: '';
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: rgba(0 0 0 / 0.2);
        border-radius: 100%;
        bottom: 40px;
        left: 40px;
    }

    /* header > div:after */
    & > div:after {
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: rgba(0 0 0 / 0.2);
        border-radius: 100%;
        bottom:25px;
        left: 150px;
    }

    & form:nth-child(1) {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & > input {
            position: absolute;
            left: -1000px;
        }

        & > label {
            background: pink;
            padding: 2rem;
            border-radius: 100px;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
            /* */
            background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
            background-size: 1800% 1800%;
            animation: rainbow 18s ease infinite;
        }

        & > label:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
            opacity: 1;
        }
    }

    /* header > form */
    & form:nth-child(2) {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        color: white;
        padding: .25em;
        z-index: 998;

        /* header > form > input */
        & > input {
            position: absolute;
            left: -1000px;
        }

        /* header > form > label */
        & > label {
            display: flex;
            background: green;
            padding: 1em;
            border-radius: 100px;
            width: max-content;
            align-items: center;
            gap: 1em;
            transition: .5s;
            margin: 1em;
            opacity: 0.25;
        }

        /* header > form > label:hover */
        & > label:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
            opacity: 1;
        }

        /* header > form > label:before */
        & > label:before {
            content: "";
            background-image: url(./svg/play.svg);
            background-size: cover;
            display: block;
            height: 2em;
            width: 2em;
        }

        /* header > form > label:after */
        & > label:after {
            content: "Play animation";
            display: block;
        }
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* main > div */
    & > div {
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 100px;
        background-color: red;
        z-index: 3;
        transform: translateY(-50px);
        display: flex;
        justify-content: center;
        align-items: center;

        /* main > div > div */
        & > div {
            height: 35px;
            width: 35px;
            background-color: rgba(255 255 255 / 0.4);
            position: absolute;
            bottom: -30px;
            transform: translateY(0px) scale(0.2);
            z-index: 1; 
        }

        /* main > div > div:before */
        & > div:before {
            height: 35px;
            width: 35px;
            background-color: rgba(255 255 255 / 0.4);
            transform: rotate(45deg);
            position: absolute;
        }
    }

    /* main > div:before */
    & > div:before {
        content: '';
        position: absolute;
        top: -50px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid white;
    }

    /* main > div:after */
    & > div:after {
        content: '';
        position: absolute;
        bottom: -20px;
        border-bottom: 20px solid white;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        width: 50px;
        z-index: 3;
    }
}

footer {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;

    /* footer > div */
    & > div {
        height: 200px;
        width: 100%;
        background-color: green;
        border-radius: 100%;
        transform: translateY(50%) scale(1.1);
    }
}

body:has(header form:nth-child(1) input:checked) {
    --animation-state: running;
}

body:has(header form:nth-child(1) input:checked) header form:nth-child(1) {
    display: none;
}

body:has(header form:nth-child(1) input:checked) header form:nth-child(2) {
    display: block;
}

body:has(header form:nth-child(2) input:not(:checked)) {
    --animation-state: paused;
}

body:has(header form:nth-child(2) input:checked) header form:nth-child(2) label {
    background: red;
    opacity: 0.25;
}

body:has(header form:nth-child(2) input:checked) header form:nth-child(2) label:hover {
    opacity: 1;
}

body:has(header form:nth-child(2) input:checked) header form:nth-child(2) label:before {
    background-image: url(./svg/pause.svg);
}

body:has(header form:nth-child(2) input:checked) header form:nth-child(2) label:after {
    content: "Pause animation";
}

header > section > div > div {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 0 50px;
}

header > section > div > div:nth-child(2) {
    transform: translateY(50px);
}

header > section > div > div:nth-child(3) {
    transform: translateY(-30px);
}

header > section > div > div:before {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    transform: translateX(-60px) translateY(20px);
    z-index: 2;
}

header > section > div > div:after {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    transform: translateX(60px) translateY(20px);
    z-index: 1;
}

/* Animation */
footer > div {
    animation: ground var(--ground-animation) forwards;
    animation-delay: var(--ground-animation-delay);
    animation-play-state: var(--animation-state);
}

main > div {
    animation-name: rocket, falling;
    animation-duration: var(--rocket-animation), var(--falling-animation);
    animation-delay: var(--rocket-animation-delay), var(--falling-animation-delay);
    animation-fill-mode: forwards, forwards;
    animation-play-state: var(--animation-state);
}

body {
    animation: sky var(--sky-animation) forwards;
    animation-delay: var(--sky-animation-delay);
    animation-play-state: var(--animation-state);
}

header > div {
    animation: planet var(--planet-animation) forwards;
    animation-delay: var(--planet-animation-delay);
    animation-play-state: var(--animation-state);
}

main > div > div {
    animation: smoke var(--smoke-animation) infinite;
    animation-play-state: var(--animation-state);
}
main > div > div:nth-child(1) {
    --distance: 70px;
    --rotate: 10deg;
    animation-delay: 0s;
}
main > div > div:nth-child(2) {
    --distance: 80px;
    --rotate: -5deg;
    animation-delay: 1.5s;
}
main > div > div:nth-child(3) {
    --distance: 90px;
    --rotate: -20deg;
    animation-delay: 3s;
}
main > div > div:nth-child(4) {
    --distance: 100px;
    --rotate: 35deg;
    animation-delay: 4.5s;
}


@keyframes ground {
0% {
    transform: translateY(50%) scale(1.1);
}
100% {
    transform: translateY(110%) scale(1.1);
}
}

@keyframes rocket {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(-500px);
    }
}

@keyframes sky {
0% {
    background: rgba(153,244,255,1);
}
100% {
    background: rgba(2,5,51,1);
}
}

@keyframes planet {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-40%);
    }
}

@keyframes falling {
    0% {
        transform: translateY(-500px);
    }
    50% {
        transform: translateY(-640px) rotate(0deg);
    }
    100% {
        transform: translateY(150px) rotate(80deg);
    }
}

@keyframes smoke {
    0% {
        transform: translateY(0px) scale(0.3) rotate(var(--rotate));
        background-color: rgba(255 0 0 / 0.4);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(var(--distance)) scale(1) rotate(calc(var(--rotate) + 60deg));
        opacity: 0;
        background-color: rgba(255 175 0 / 0.4);
    }
}

header > section {
    display: flex;
    position: absolute;
    top: 100px;
    gap: 50px;
    transform: translateY(-300px);
    animation: clouds-downwards var(--clouds-downwards-animation) forwards;
    animation-delay: var(--clouds-downwards-animation-delay);
    animation-play-state: var(--animation-state);
}

@keyframes clouds-downwards {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(1000px);
    }
}

header > section > div {
    flex: 50%;
    display: flex;
    gap: 50px;
    animation: clouds-sideways var(--clouds-sideways-animation) forwards;
    animation-delay: var(--clouds-sideways-animation-delay);
    animation-play-state: var(--animation-state);
}

header > section > div:first-child {
    --cloud-transform: -1000px;
}

header > section > div:last-child {
    --cloud-transform: 1000px;
}

@keyframes clouds-sideways {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(var(--cloud-transform));
    }
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}